.recent-post {
  top: 0;
  right: 0;

  padding-bottom: 100px;

  &_text {
    text-align: center;

    h1 {
      padding-top: 50px;
      margin: 0;
    }
  }
  .recent-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    .recent-image {
      text-align: left;
      border: 1px solid rgb(236, 236, 236);
      width: 350px;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

      &-text {
        padding: 20px;
      }
      &-date {
        color: $color-info;
        font-weight: bold;
      }
      h6 {
        margin: 10px 0px;
      }
      p {
        margin: 10px 0px;
      }

      button {
        font-weight: bold;
        background-color: $color-white;
        color: $color-info;
        border: none;
        cursor: pointer;
        padding: 0;
      }
    }
  }
}
